body {
    background-color: white;
    padding: 0;
    margin: 0;
    /* overflow: visible; */
}

a {
    color: inherit;
    text-decoration: inherit;
}

ul {
    list-style: none;
    padding: 0;
}

.collapsable i, .quote i {
    color: gray;
}

h1 {
    font-family: Montserrat;
    font-weight: bold;
}

h2 {
    font-family: KaushanScript;
}

hr {
    border: 0;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
}

p {
    color: #999999;
    font-family: Roboto;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
}

header {
    position: absolute;
    z-index: 2;
    font-family: Montserrat;
    font-weight: bold;
    color: white;
}

.fixed-header {
    position: fixed;
    background-color: #f38181e8;
    transition: all 0.5s ease-out;
}

header>div {
    padding: 0;
    display: flex;
}

header nav {
    margin-left: auto;
}

header ul {
    display: flex;
    margin: 0;
}

header .nav-logo {
    font-family: Montserrat-Bold;
    font-size: 30px;
}

header li a {
    font-size: 14px;
    margin: 12px 30px;
    text-transform: uppercase;
    padding: 10px 0px;
    vertical-align: -webkit-baseline-middle;
}

header a:hover {
    color: #fce38a;
    border-bottom: 3px solid;
}

section {
    text-align: center;
}

footer {
    background-color: #f8f8f8;
}

footer.padding-section {
    padding-top: 20px;
    padding-bottom: 10px;
}

footer>div>div {
    width: 35%;
    padding: 10px;
}

footer>div>div:first-child {
    width: 45%;
}

footer>div>div:last-child {
    width: 20%;
}

footer .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;
}

footer h4, footer p {
    margin: 1px;
}

footer>p:last-child {
    font-size: 14px;
    color: #333333;
    text-align: center;
}

footer>p:last-child span {
    color: #f38181;
}

footer h3 {
    font-family: Montserrat;
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
}

footer h4 {
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 12px;
}

footer input {
    padding: 10px;
    background-color: white;
    border: none;
}

footer input[type="text"] {
    width: 50%;
    border: 1px solid #e7e7e7;
}

footer input[type="text"]::placeholder {
    color: #e7e7e7;
    font-style: italic;
}

footer input[type="button"] {
    background-color: #95e1d3;
    font-family: Montserrat-Bold;
    font-size: 14px;
    padding: 12px 40px;
    color: white;
}

footer input[type="button"]:hover {
    background-color: #f38181;
    color: white;
}

footer h1 {
    color: #cccccc;
    font-family: Montserrat-Bold;
    font-size: 46.5px;
}

footer .box-em li {
    background: none;
    color: #95e1d3;
}

footer .box-em li a i {
    padding: 5px;
}

#welcome-s {
    height: 100vh;
    color: white;
    text-transform: uppercase;
    background-image: linear-gradient(to top, #fce38a93, #f38181e8), linear-gradient(to bottom, #fce38a8a, #fce38ac2);
}

#welcome-s p {
    font-size: 18px;
    color: white;
    font-family: Montserrat;
}

#welcome-s p span {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: bold;
}

#welcome-s .title-s {
    color: white;
}

#welcome-s .title-s h2 {
    font-size: 72px;
    font-weight: normal;
    text-transform: none;
    margin: 0;
}

#welcome-s .title-s h1 {
    font-size: 150px;
    font-weight: bold;
    line-height: 0.93;
    margin: 20px 0 50px;
}

#welcome-s .title-s hr {
    background-color: white;
}

#welcome-s progress[value] {
    height: 3px;
    -webkit-appearance: none;
    appearance: none;
}

#welcome-s progress::-webkit-progress-value {
    background: #f38181;
}

#welcome-s progress::-webkit-progress-bar {
    background: white;
}

#welcome-s .bg-img img {
    height: 100%;
}

#summary-s {
    background-color: #95e1d3;
    color: white;
}

#summary-s h1 {
    font-family: Montserrat-Bold;
    font-size: 72px;
    margin: 0;
}

#summary-s p {
    font-size: 14px;
    margin: 0;
    font-family: Montserrat-Bold;
}

#summary-s .flex-space div {
    padding: 80px 0px;
}

#summary-s .flex-space div {
    border-left: 1px solid #ffffff4d
}

#summary-s .flex-space div:last-child {
    border-right: 1px solid #ffffff4d;
}

#services-s img {
    height: max-content;
    padding: 5px;
}

#services-s h4 {
    margin: 0;
    font-family: Montserrat;
    text-transform: uppercase;
}

#services-s tr, #services-s td {
    display: flex;
    width: 100%;
    text-align: left;
    margin: 30px;
}

#services-s td>div {
    flex-wrap: wrap;
    text-align: left;
}

#services-s tr {
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    margin: 30px 0;
}

#services-s tr:last-child {
    border: none;
}

#design-s {
    height: 80vh;
    position: relative;
    margin-bottom: 50px;
}

#design-s h1, #design-s h2 {
    z-index: 1;
}

#design-s .bg img {
    height: 80vh;
}

#design-s>img:last-of-type {
    transform: translate(100px, 100px);
}

#design-s>img:first-of-type {
    transform: translateX(-250px);
}

#design-s {
    background-color: #ffffffd9;
}

#what-we-do-s>.flex>div {
    width: 50%;
}

#what-we-do-s .flex>div>img {
    height: 400px;
    object-fit: cover;
}

#quote-s-1 {
    background-color: #f8f8f8;
}

#quote-s-1 img {
    padding: 45px 45px 45px 45px;
    border: solid 3px #95e1d3;
}

#quote-s-2 {
    background-color: white;
}

#quote-s-2 img {
    border-radius: 250px;
    width: 200px;
}

#logos-s {
    background-color: #f8f8f8;
}

#logos-s img {
    width: 10%;
    /* width: 150px; */
}

#our-work-s .grid div:nth-child(3) {
    grid-row: span 2;
}

#comments-s {
    position: relative;
    background-color: #ffffffd9;
    min-height: 80vh;
    height: 100%;
}

#comments-s .bg {
    min-height: 80vh;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#comments-s h3 {
    font-family: Montserrat;
    font-size: 14px;
    margin: 0;
}

#comments-s h4 {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: #333333;
}

#comments-s .flex hr {
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 15px 0;
}

#comments-s .flex img {
    border-radius: 250px;
}

#blog-s img {
    width: 100%;
}

#blog-s i {
    color: #95e1d3;
}

#blog-s a {
    width: 100%;
    padding: 10px;
    position: relative;
}

#blog-s p:not(#blog-s .overway p) {
    padding-bottom: 15px;
}

#blog-s div>div {
    position: relative;
}

#blog-s h4 {
    text-transform: uppercase;
    font-family: Montserrat;
}

#blog-s .overway {
    position: absolute;
    bottom: 0;
    transform: translate(-10px, -10px);
    padding: 5px 10px;
    background-color: #95e1d3;
    color: white;
    text-align: center;
}

#blog-s .overway h2 {
    font-family: Montserrat-Bold;
    margin: 0;
    font-size: 30px;
}

#blog-s .overway p {
    color: white;
    margin: 0;
    font-family: Roboto;
    font-size: 13px;
}

#map-s {
    color: #f38181;
    background-color: #ffffffd9;
}

#map-s .bg {
    position: absolute;
    top: 0;
    height: 100%;
}

#map-s .bg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#map-s div {
    position: relative;
}

#map-s i {
    font-size: 25px;
}

#map-s h2 {
    margin: 20px;
    font-family: Montserrat-Bold;
    font-size: 24px;
    text-transform: uppercase;
}

#map-s hr {
    color: #f38181;
    width: 60px;
    height: 3px;
    background-color: #f38181;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    display: none;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foldable>div {
    padding: 0 10px 10px;
}

.foldable>div>div {
    border: 1px solid #e5e5e5;
    padding: 10px;
}

.foldable .flex img {
    height: 30px;
    width: 30px;
}

.foldable i {
    transition: all 0.2s ease-in;
}

.foldable i:hover {
    color: #f38181;
    font-size: 20px;
}

.foldable h1 {
    font-size: 14px;
    text-transform: uppercase;
    padding: 0 10px;
}

.foldable p {
    font-size: 15px;
    color: #999999;
    font-family: Roboto;
    font-style: italic;
}

.foldable .flex {
    align-items: center;
}

.foldable .right-align {
    text-align: right;
}

.left-align {
    text-align: left;
}

.title-s.unactive {
    display: none;
}

.unactive {
    opacity: 0.5;
}

.quote .unactive {
    display: none;
}

.quote i {
    transition: all 0.5s ease-out;
}

.quote i:hover {
    color: #f38181;
    font-size: 30px;
}

.page-padding {
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
    /* padding: unset 20%; */
}

.padding-section {
    padding-top: 50px;
    padding-bottom: 50px;
    /* padding: 50px unset; */
}

.bg-img img {
    width: 100%;
    object-fit: cover;
}

.bg {
    left: 0px;
    position: absolute;
    z-index: -1;
}

.full-w {
    width: 100%;
}

.va-center {
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translateY(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateY(-50%);
    -ms-transform: translateX(-50%);
    transform: translateY(-50%);
    transform: translateX(-50%);
}

.va-bottom {
    position: absolute;
    bottom: 0;
}

.fit {
    display: block;
    width: 100%;
    height: 100%;
    padding: 1%;
}

.flex, .flex-t {
    display: flex;
}

.flex-space {
    justify-content: space-between;
    width: 100%;
    /* flex-wrap: wrap; */
}

.flex-space-abs {
    justify-content: space-between;
    width: calc(100% - 40%);
}

.flex-space>div, .flex-space-abs>div {
    width: 100%;
    padding: 10px;
}

.some-padding {
    padding: 10px;
}

.nest-y {
    padding: 0 10%;
}

.title-s {
    text-align: center;
    color: #333333;
}

.title-s>div {
    display: flex;
    flex-flow: column-reverse;
}

.title-s h2 {
    font-family: KaushanScript;
    font-size: 24px;
}

.title-s h3 {
    font-family: Montserrat;
    font-size: 14px;
}

.title-s h1 {
    margin: 0;
    font-family: Montserrat-Bold;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.title-s hr {
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 40px 0;
    margin-left: calc(50% - 30px);
}

.white-text, .white-text-u {
    color: white;
}

.white-text p, .white-text-u p {
    color: white;
}

.white-text-u {
    text-transform: uppercase;
}

.dark-text {
    color: black;
}

.dark-text h4 {
    text-transform: uppercase;
    font-family: Montserrat;
}

.no-margin {
    margin: 0;
}

.trans-btn {
    font-size: 14px;
    font-weight: bold;
    padding: 15px 30px;
    border: solid 3px white;
}

.trans-btn:hover {
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
}

.pop-hover {
    position: relative;
    text-align: center;
    transition: all 0.2s ease-in;
}

.pop-hover:hover {
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px #95e1d3;
    background-image: linear-gradient(to top, #fce38a, #f38181)
}

.pop-hover img {
    vertical-align: bottom;
}

.pop-hover:hover div:first-child::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to top, #fce38ac7, #f38181cc);
}

.pop-hover div:last-child {
    display: none;
}

.pop-hover:hover div:last-child {
    display: block;
    height: fit-content;
}

.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box-em li {
    background-color: #fce38a;
    color: #f38181;
}

.box-em li:hover {
    background-color: #f38181;
    color: white;
}

.box-em li a i {
    padding: 1em;
}

.quote>* {
    padding: 30px;
}

.quote>i {
    align-self: center;
}

.quote p {
    font-family: Roboto;
    font-size: 24px;
    font-style: italic;
    margin-top: 0;
}

.quote h4 {
    font-family: KaushanScript;
    font-size: 24px;
    margin: 0;
}

.quote hr {
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 15px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: start;
    justify-items: center;
}

.grid .pop-hover:hover {
    transform: none;
    box-shadow: none;
}

.grid div, .grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    height: auto;
    overflow-y: scroll;
    transition: all 1.5s;
}

.collapsible .arrow {
    width: 100%;
    color: gray;
}

.collapsible {
    height: auto;
}

.collapsible .arrow>i {
    transition: all 1.5s;
}

.section.collapsed {
    max-height: 0;
}

.i {
    font-style: italic;
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: KaushanScript;
    src: url(../assets/fonts/KaushanScript-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

@media screen and (max-width: 1000px) {
    .flex {
        flex-wrap: wrap;
    }
    .flex-t {
        flex-wrap: nowrap;
    }
    #what-we-do-s>.flex>div {
        width: 100%;
    }
    footer>div>div, footer>div>div:first-child, footer>div>div:last-child {
        width: 100%;
    }
    #services-s tr {
        flex-wrap: wrap;
    }
    .quote {
        width: 100%;
        padding: 0;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 55px;
        flex-direction: column;
        width: 100%;
        height: 80vh;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        background-image: linear-gradient(to top, #fce38a93, #f38181e8), linear-gradient(to bottom, #fce38a8a, #fce38ac2);
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-item {
        margin: auto;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .quote .va-bottom {
        bottom: 0px;
        right: 0;
    }
    #summary-s .flex-space div {
        padding: 0px;
        border: none;
    }
    #summary-s .flex-space div:last-child {
        border: none;
    }
    #design-s {
        overflow-x: clip;
    }
    #welcome-s .title-s h2 {
        font-size: 40px;
    }
    #welcome-s .title-s h1 {
        font-size: 70px;
    }
    #welcome-s {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .slide {
        width: 100%;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .slide p {
        display: grid;
    }
}

@media screen and (max-width: 500px) {
    .padding-section {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: start;
        justify-items: center;
    }
    .quote>* {
        padding: 5px;
    }
    #design-s>img:first-of-type {
        width: 300px;
        transform: translateX(-200px);
    }
    #design-s>img:last-of-type {
        width: 150px;
        transform: translate(50px, 50px);
    }
    #design-s .title-s {
        padding: 0;
    }
    #welcome-s .title-s h2 {
        font-size: 30px;
    }
    #welcome-s .title-s h1 {
        font-size: 50px;
    }
    .slide>div {
        padding: 0;
    }
}

@media screen and (max-width: 1200px) {
    header.page-padding {
        padding: 0 5%;
        width: 90%;
    }
    footer.page-padding {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background: #95e1d3;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: #528f84;
}

#welcome-s .title-s {
    animation: smoothin 1s forwards; 
}

@keyframes smoothin {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadein {
    position: relative;
    animation: fadein 1.5s ease-out;
}

@keyframes fadein {
    from {
        left: -20px;
        opacity: 0;
    }
    to {
        left: 0px;
        opacity: 1;
    }
}