body {
    background-color: white;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: inherit;
}

ul {
    list-style: none;
    padding: 0;
}

h1 {
    font-family: Montserrat-Bold;
}

h2 {
    font-family: KaushanScript;
}

hr {
    border: 0;
}

p {
    color: #999999;
    font-family: Roboto;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
}

header {
    position: absolute;
    z-index: 1;
    font-family: Montserrat-Bold;
    color: white;
}

header>div {
    padding-top: 20px;
    display: flex;
}

header nav {
    margin-left: auto;
}

header ul {
    display: flex;
}

header h1 {
    margin: 0;
    font-family: Montserrat-Bold;
    font-size: 30px;
}

header a {
    font-size: 14px;
    margin: 12px 30px;
    text-transform: uppercase;
    padding: 10px 0px;
    vertical-align: -webkit-baseline-middle;
}

header a:hover {
    color: #fce38a;
    border-bottom: 3px solid;
}

section {
    text-align: center;
}

#welcome-s {
    height: 100vh;
    color: white;
    text-transform: uppercase;
    background-image: linear-gradient(to top, #fce38a93, #f38181e8), linear-gradient(to bottom, #fce38a8a, #fce38ac2);
}

#welcome-s p {
    font-size: 18px;
    color: white;
    font-family: Montserrat;
}

#welcome-s p span {
    font-family: 'Montserrat-Bold';
    font-size: 25px;
}

#welcome-s .title-s {
    color: white;
}

#welcome-s .title-s h2 {
    font-size: 72px;
    font-weight: normal;
    text-transform: none;
    margin: 0;
}

#welcome-s .title-s h1 {
    font-size: 150px;
    font-weight: bold;
    line-height: 0.93;
    margin: 20px 0 50px;
}

#welcome-s .title-s hr {
    background-color: white;
}

#welcome-s progress[value] {
    height: 3px;
    -webkit-appearance: none;
    appearance: none;
}

#welcome-s progress::-webkit-progress-value {
    background: #f38181;
}

#welcome-s progress::-webkit-progress-bar {
    background: white;
}

.left-align {
    text-align: left;
}

.unactive {
    opacity: 0.5;
}

.page-padding {
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
    /* padding: unset 20%; */
}

.padding-section {
    padding-top: 50px;
    padding-bottom: 50px;
    /* padding: 50px unset; */
}

.bg-img img {
    height: 100vh;
    object-fit: cover;
}

.bg {
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: -1;
}

.full-w {
    width: 100%;
}

.va-center {
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translateY(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateY(-50%);
    -ms-transform: translateX(-50%);
    transform: translateY(-50%);
    transform: translateX(-50%);
}

.va-bottom {
    position: absolute;
    bottom: 0;
}

.fit {
    display: block;
    width: 100%;
    height: 100%;
    padding: 1%;
}

.flex {
    display: flex;
}

.flex-space {
    justify-content: space-between;
    width: calc(100% - 40%);
}

.flex-space>div {
    width: 100%;
    padding: 10px;
}

.some-padding {
    padding: 10px;
}

.nest-y {
    padding: 0 10%;
}

.title-s {
    text-align: center;
    color: #333333;
}

.title-s h2 {
    font-family: KaushanScript;
    font-size: 24px;
}

.title-s h1 {
    font-family: Montserrat-Bold;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.title-s hr {
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 40px 0;
    margin-left: calc(50% - 30px);
}

.white-text {
    color: white;
    text-transform: uppercase;
}

.white-text-u {
    color: white;
    text-transform: uppercase;
}

.dark-text {
    color: black;
}

.dark-text p {
    text-transform: uppercase;
}

.no-margin {
    margin: 0;
}

.trans-btn {
    font-size: 14px;
    font-weight: bold;
    padding: 15px 30px;
    border: solid 3px white;
}

.trans-btn:hover {
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
}

.pop-hover {
    position: relative;
    text-align: center;
}

.pop-hover:hover {
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px #95e1d3;
    background-image: linear-gradient(to top, #fce38a, #f38181)
}

.pop-hover img {
    vertical-align: bottom;
}

.pop-hover:hover div:first-child::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to top, #fce38ac7, #f38181cc);
}

.pop-hover div:last-child {
    display: none;
}

.pop-hover:hover div:last-child {
    display: block;
}

.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box-em li {
    background-color: #fce38a;
    color: #f38181;
}

.box-em li:hover {
    background-color: #f38181;
    color: white;
}

.box-em li a i {
    padding: 1em;
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: KaushanScript;
    src: url(../assets/fonts/KaushanScript-Regular.ttf);
}